body{
    background-color: rgb(252, 240, 225);
}

p{
    text-align: center;
}

button{
    height: 50px;
    width: 150px;
    margin-right: 20px;
    background-color: rgb(248, 201, 144);
    font-family: monospace;
    font-size: 18px;
    /* border: 2px solid darkkhaki; */
}

#title{
    font-family:monospace;
    font-weight: bolder;
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
}

#time{
    font-size: 80px;
    font-family: monospace;
    font-weight: lighter;
    text-align: center;
}

.btn{
    text-align: center;
}

.record{
    display: flex;
    justify-content: center;
    align-items: center;
}

.record h3{
    font-family: monospace;
    font-size: larger;
    display: inline;
}

.record button{
    margin-left: 20px;
    height: 30px;
    width: auto;
}



